<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="vo.Color" alias="color"/>
        <typeAlias type="vo.Font" alias="font"/>
        <typeAlias type="vo.FontSize" alias="fontSize"/>
        <typeAlias type="vo.Label" alias="label"/>
        <typeAlias type="vo.LabelStyle" alias="labelStyle"/>
        <typeAlias type="vo.Paper" alias="paper"/>
        <typeAlias type="vo.Style" alias="style"/>
        <typeAlias type="vo.Weight" alias="weight"/>
        <typeAlias type="vo.Print" alias="print"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/jdbc/labeling"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="dao/PostgresSqlPaperDao.xml"/>
        <mapper resource="dao/PostgresSqlStyleDao.xml"/>
        <mapper resource="dao/PostgresSqlColorDao.xml"/>
        <mapper resource="dao/PostgresSqlWeightDao.xml"/>
        <mapper resource="dao/PostgresSqlFontSizeDao.xml"/>
        <mapper resource="dao/PostgresSqlFontDao.xml"/>
        <mapper resource="dao/PostgresSqlLabelDao.xml"/>
        <mapper resource="dao/PostgresSqlPrintDao.xml"/>
    </mappers>

</configuration>